{% extends "base_workOrder.html" %}

{% load extra_tag %}

{% block title %}
    <title>Work Order StatusImportFileForm</title>
{% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="WoForm">
            <caption>Work Order Status Configuration</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              {{ form.as_table }}
            </tbody>
        </table>

        <!--Multiple submit buttons-->
        <!--Read file button-->
        <input type="submit" name="read_file" 
          value="Read file" /><br>

        <!--Save to database button-->
        <input type="submit" name="save_database" 
          value="Save to database" />
    </form>        

    <!--Put data from file-->
    <!--be carefull for initial during no data on dataFrame, get ERROR-->
    {%if dataFrame %}
      <table class="WoForm">
        <caption>
          <div>
            Data Imported : {{file_name}}, 
            Rec : {{dataFrame.name|get_count}},
            DB before : {{countBefore}},
            DB after : {{countAfter}}
          </div>
        </caption>
        <thead>
          <tr>
            {%for key in dataFrame%}
              <th scope="col">{{key}}</th>  
            {%endfor%}
          </tr>    
        </thead>
        <tbody>
          {%for rec in dataFrame|get_item:'name'%}
            <tr>
              <td>
                {{dataFrame.name|get_item:rec}}
              </td>
              <td>
                {{dataFrame.description|get_item:rec}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>  
    {%endif%}
{% endblock %}
