{% extends "base_generic.html" %}

{% block title %}
    <title>Wo Completion</title>
{% endblock %}

{% block content %}

  {% include 'woHeader.html' %}

  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{field.label}} : {{ field }}
        </p>
    {% endfor %}
    <table class="WoForm">
      <caption>Work Order Compltion</caption>
      <thead>

      </thead>
      <tbody>
        {{ form.as_table }}
      </tbody>
    </table>

    <input type="submit" value="Submit">

  </form>

{% endblock %}
