{% extends "base_generic.html" %}

{% block content %}

  <h3>Work Order Detail</h3>

  {% include 'woHeader.html' %}

  <p>
    {% if perms.workOrder.add_work_order %}       
      <a href="{% url 'work_order_forward' pk=woPK %}">FORWARD/CLOSE</a>
    {% else %}
      <a href="{% url 'work_order_forward' pk=woPK %}">FORWARD/RETURN</a>
    {% endif %}
  </p>
  <h6>History</h6>
  {% if journal_list %}
    <table>
      <ul>
        {% for journal in journal_list %}
          <li>
            {{journal.date}} at
            {{journal.time}} =>
            {{journal.concern_user}},  
            {{journal.comment}}
          </li>
        {% endfor %}
      </ul>
    </table>  
  {% else %}
    <p>There are no histories</p>
  {% endif %}       

{% endblock %}
