{% extends "base_generic.html" %}

{% block title %}
    <title>Wo Detail</title>
{% endblock %}

{% block content %}

  {% include 'woHeader.html' %}

  <p>
    {% if allowAction %}
      {% if perms.workOrder.add_work_order %}       
        <a href="{% url 'work_order-forward' pk=woPK %}">FORWARD/CLOSE</a>
      {% elif perms.workOrder.add_work_order_completion %}
        <p><strong> For finishing : </strong> 
          <a href="{% url 'work_order-complete' pk=woPK %}">FINISH</a>
        </p>       
        <p><strong> For cancelling : </strong> 
          <a href="{% url 'work_order-forward' pk=woPK %}">CANCEL</a> 
        </p>
      {% else %}
        <a href="{% url 'work_order-forward' pk=woPK %}">FORWARD/RETURN</a>
      {% endif %}
    {% endif %}
  </p>
  {% if journal_list %}
    <table class="WoHistory">
      <caption>History</caption>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">PIC</th>
          <th scope="col">Comment</th>
        </tr>    
      </thead>
      <tbody>
        {% for journal in journal_list %}
          <tr>
            <td>
              {{journal.date}}
            </td>
            <td>
              {{journal.time}}
            </td>
            <td>
              {{journal.concern_user}} 
            </td>
            <td>
              {{journal.comment}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>  
  {% else %}
    <p>There are no histories</p>
  {% endif %}       

{% endblock %}
