{% block content %}
    <table class="WoHeader">
        <caption>Detail</caption>
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Description</th>
            </tr>    
        </thead>
        <tbody>
            <tr>
                <th scope="row">WO Number</th>
                <td>{{ work_order.wo_number }}</td>
            </tr>
            <tr>
                <th scope="row">Tagnumber</th>
                <td>{{ work_order.tagnumber }}</td>
            </tr>
            <tr>
                <th scope="row">Problem</th>
                <td>{{ work_order.problem }}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <!-- get data from script logic-->
                <td id = "status"></td> 
            </tr>
        </tbody>
    </table> 

    {% load static %}
    <!--script type="text/javascript" src="{% static 'js/woMisc.js' %}"--> 
    <script type="text/javascript"> 
        var stsCd = "{{work_order.status}}" /*get data from django*/
        var status = getStatus(stsCd);
        document.getElementById("status").innerHTML = status;

        /*Function for get status work order base on code*/
        function getStatus(stsCode){
            var status = ""
            switch (stsCode) {
                case "op":
                    status = "Open";
                    break;
                case "cl":
                    status = "Close";
                    break;
                case "ck":
                    status = "Check";
                    break;
                case "rv":
                    status = "Revise";
                    break;
                case "ap":
                    status = "Approve";
                    break;
                case "rw":
                    status = "Review";
                    break;
                case "rj":
                    status = "Reject";
                    break;
                case "sc":
                    status = "Scedule";
                    break;
                case "rt":
                    status = "Return";
                    break;
                case "ns":
                    status = "Need Shutdown";
                    break;
                case "nl":
                    status = "Need Materials";
                    break;
                case "nm":
                    status = "Need MOC";
                    break;
                case "ec":
                    status = "Execute";
                    break;
                case "cm":
                    status = "Complete";
                    break;
                case "fn":
                    status = "Finish";
                    break;
                case "cn":
                    status = "Cancel";
                    break;
                default:
                    status = "Other";
                }
            return status;
        }
    
    </script>
{% endblock %}
