.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/*Style for general tables*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    caption-side: top;
    text-align: left;
    letter-spacing: 1px;
}
    
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

th {
    letter-spacing: 2px;
}
    
td {
    letter-spacing: 1px;
}

thead th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
    
/* Style for Work Order Header*/    
table.WoHeader {
    font-family: arial, sans-serif;
}
    
table.WoHeader thead th:nth-child(1) {
    width: 15%;
}
      
/*table.WoHeader thead th:nth-child(2) - remaining width*/
      
/* Style for Work Order Form*/    
table.WoForm {
    font-family: arial, sans-serif;
}
    
table.WoForm thead th:nth-child(1) {
    width: 15%;
}
      
/*table.WoForm thead th:nth-child(2) - remaining width*/

/* Style for Work Order History*/    
table.WoHistory {
    font-family: arial, sans-serif;
}

/*Date col header*/
table.WoHistory thead th:nth-child(1) {
        width: 15%;
}
      
/*Date col time*/
table.WoHistory thead th:nth-child(2) {
    width: 10%;
}
      
/*Date col PIC*/
table.WoHistory thead th:nth-child(3) {
    width: 10%;
}
      
/*Date col comment - remaining width*/


/* Style for Work Order Completion*/    
table.WoCompletion {
    font-family: arial, sans-serif;
}

/*col 1*/
table.WoCompletion tbody th:nth-child(1) {
        width: 50%;
}
      
/*col 2*/
table.WoCompletion tbody th:nth-child(2) {
    width: 20%;
}
            
table.WoCompletion tbody td {
    height: 100px;
}
/*Date col comment - remaining width*/

/*Grid*/

/*Work order completion Date, ManPower, Duration*/
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Work order completion Actio*/
.container2 {
    display: grid;
    grid-template-columns: 1fr;
}

/*Work order completion Material, Tool*/
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
